<%layout("./layouts/boilerplate")-%>

  <div class="card  mt-3 listing-card">
    <div class="row offset-3">
      <div class="col-8">
        <h1><%=data.title%></h1>
        <img src="<%=data.image.url%>" class="card-img-top show-img" alt="listing_image" />
        <div class="card-body">
          <p class="card-text">
             <i><%=data.owner.username%></i>
             <br>
            <%=data.description%>
            <br>
             &#8377;<%=data.price%>
             <br />
             <%=data.location%>
             <br />
             <%=data.country%>
             <br>
          </p>
        </div>
      </div>
    </div>
    <% if(currUser && currUser._id.equals(currUser._id)){%> 
    <div class="btns mt-2 offset-3 ">
      <a href="/listings/<%=data._id%>/edit" class="btn btn-dark edit-btn  ">Edit</a>
      <form method="post" action="/listings/<%=data._id%>/delete?_method=DELETE">
        <button class="btn btn-dark offset-3">Delete</button>
      </form>
  </div> 
  <% }%>
  </div>
  <hr>
  <div class="col-8 offset-3 mb-3">
    <%if(currUser){%>
    <h4>Leave a Review</h4> 
    <form method="post" action="/listings/<%=data._id%>/reviews" class="needs-validation"
      novalidate>
      <div class=" rating mb-3 mt-3">  
      <label for="rating" class="form-lable">Rating</label> 
        <fieldset class="starability-slot">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div> 
      <%if(currUser){%>
      <div class=" mt-5"> 
        <label for="comment" class="form-label">Comment</label>
        <textarea name="review[comment]" required id="comment" class="form-control" cols="20" rows="5"></textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>
    <%}%>
      <button class="btn btn-outline-dark mt-3">Submit</button>
    </form> 
    <%}%> 
  </div> 
    <hr>


    <!-- row-cols-lg-3 row-cols-md-2 row-cols-sm-1 -->
   <%if(data.reviews.length>0){%>
    <div class="row offset-3"> 
      <p><b> All Reviews</b></p>
      <%for(item of data.reviews){ %> 
       <div class="card col-5 ms-3 mb-3 ">
        <div class="card-body">
          <h5 class="card-title "><%=item.author.username%></h5>
          <p class="starability-result card-text " data-rating="<%=item.rating%>">
            <p class="card-text "><%=item.comment%>
            </p>
          </p>
        </div>
        <% if(currUser && currUser._id.equals(item.author._id)){%>
        <form method="post" action="/listings/<%=data._id%>/reviews/<%=item._id%>/delete?_method=DELETE" class="mb-3">
          <button class="btn btn-dark">Delete</button>
         </form> 
        </div>
         <%}%>
     <%}%>
    </div>
  <%}%> 
  <div class="offset-4">
    <h3>Where you'll be</h3>
    <div id="map"></div>
  </div> 



 


